bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.WebApp/.idea/aws.xml
/.idea/.idea.WebApp/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.WebApp/.idea/contentModel.xml
/.idea/.idea.WebApp/.idea/encodings.xml
/.idea/.idea.WebApp/.idea/indexLayout.xml
/.idea/.idea.WebApp/.idea/modules.xml
/.idea/.idea.WebApp/.idea/projectSettingsUpdater.xml
/.idea/.idea.WebApp/.idea/vcs.xml
/.idea/.idea.WebApp/.idea/workspace.xml
*.suo
